.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.freq {
  display: flex;
  flex-direction: column;
}
