.red-text {
  color: red;
}

.green-text {
  color: rgb(18, 247, 18);
}

.orange-text {
  color: rgb(246, 135, 9);
}

.yelow-text {
  color: rgb(227, 243, 6);
}

.green-yelow-text {
  color: green;
}
.prueba:hover {
  color: purple;
}

.Topbar {
  color: #2ed2e6;
  background-color: rgb(13, 2, 33);
  box-shadow: 0 10px 15px #2ed2e6;
  position: relative;
  z-index: -1;
}

.Topbar h1 {
  margin-top: 0;
  padding-bottom: 20px;
  text-shadow: 3px 5px 2px #177a87, 4px 6px 2px #2ed2e6;
}

.ParentComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.CodeEditor {
  width: 50%;
}
.CodeEditor2 {
  width: 100%;
  height: 430px;
  margin-left: 30px;
}
.CodeEditor form {
  text-align: center;
  border: 5px ridge #2ed2e6;
  padding: 0 0 15px 0;
  box-sizing: border-box;
}
.CodeEditor2 form {
  margin-left: 55px;
  margin-right: 10px;
  text-align: center;
  border: 5px ridge #2ed2e6;
  padding: 0 0 15px 0;
  height: 440px;
  width: 700px;
  box-sizing: border-box;
}
.CodeEditor form input[type="submit"] {
  padding: 10px;
  background-color: #2ed2e6;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.CodeEditor2 form input[type="submit"] {
  padding: 10px;
  background-color: #2ed2e6;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 135px;
}
.Editor {
  width: 100%;
  height: 55vh;
  padding: 5px;
}

.Results {
  width: 40%;
}
.Results h3 {
  text-align: center;
}
.Results ol li::marker {
  color: #2ed2e6;
  text-shadow: 2px 2px 2px #03454e;
}
.Results ol li {
  font-size: 23px;
  padding-left: 15px;
}

.Results li {
  padding-top: 0;
}

.Results span {
  display: block;
  text-align: left;

  font-family: "Lato", "Lucida Grande, sans-serif";
  font-weight: bold;
}
.Results .enside span:last-of-type {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2ed2e6;
}
.Results .enside span:nth-of-type(2) {
  font-size: 20px;
}
.Results span:first-of-type {
  padding-bottom: 3px;
}

.statsComponent {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: fit-content;
}

.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 100px;
}

.starts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 130px;
  /* width: 100%; */
  width: 80%;
}
.bothcomponent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 30px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  margin-bottom: 80px;
}

.solution {
  margin-top: 10px;
  border: 5px ridge #2ed2e6;
}

.reportForms {
  width: 700px;
  display: flex;
  justify-content: space-between;
}
