h1,
h2 {
  text-align: center;
}

/* 
Can we merge this CSS into the Home.css file so that they aren't competing?
I believe it's why the <p> bottom-border, and why the <ol> bullets lost its styling.
Also we need to remove the vertical scrollbar from the bottom of the page.
*/
.enside {
  margin: auto;
  text-align: start;
  width: 700px;
  height: 440px;
  overflow-y: scroll;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
  padding: 10px;
}

.enside::-webkit-scrollbar{
  /* display: none; */
}
.enside p {
  border-bottom: 1px solid rgb(255, 0, 255);
}
.enside span {
  display: block;
}
